{% extends "base.html" %}

{% block content %}
<img src="static/assets/blank.png" class="img-fluid pt-5 pb-5 rounded-lg" alt="...">

<div class="container">
  <div class="container text-center flex-wrapper">
    <div class="row align-items-start pt-5">
      <div class="col">
        <img src="static/assets/face.svg" class="img-fluid" alt="...">
      </div>
      <div class="col">
        <img src="static/assets/shop.svg" class="img-fluid" alt="...">
      </div>
      <div class="col">
        <img src="static/assets/school.svg" class="img-fluid" alt="...">
      </div>
    </div>
  </div>

  <img src="static/assets/blank.png" class="img-fluid pt-5 pb-5 rounded-lg" alt="...">
  {% endblock %}